.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.linkList {
  display: flex;
  gap: var(--spacing-md);
  justify-content: center;
}

/* スマホサイズのとき */
@media (max-width: 768px) {
  .linkList {
    flex-wrap: wrap;
  }
}

.linkCard {
  width: 100%;
  padding-bottom: var(--spacing-md);
}

.logoutButton {
  margin-top: 12px;
}
