.stockCell {
  display: flex;
  gap: var(--spacing-xs);
}

.stockInput {
  width: 60px;
}

.priceCell {
  white-space: nowrap;
}

.search {
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-right: var(--spacing-sm);
}
