.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: var(--z-index-popup);
  width: 100%;
  max-width: 1200px;
  max-height: 80%;
  padding: var(--spacing-lg);
  overflow: auto;
  background-color: var(--modal);
  border-radius: var(--radius);
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-overlay);
  background-color: var(--overlay);
}

.modalActions {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: flex-end;
}

.modalButton {
  margin: 12px 0;
}
